.header {
margin: none;
border-bottom: 1px grey;
padding: 10px;
color: black;
text-align: left;
}


.card {
margin: none;
border: 1px grey;
padding: 10 px;
color:  grey;
text-align: center;
}

.text-area {
margin: none;
border: 3px dashed grey;
padding: 20px;
color: grey;
text-align: center;
}